@font-face { 
    font-family: 'BookishVariable'; 
    src: url('https://rawgit.com/geekholm/Bookish-Variable/master/BookishProtoGX.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
 } 
